*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --skyblue:#10c9c3;
    --black:#141414;
    --grey:#e9e9e9;
    --white:#ffffff;
    --whitegrey:#f8f9f9;
    --brown:#493030;
    
}
/* Navbar font:montserrat medium 12px;
we design and develop below font: Nunito sans regular 18px; */
body{
  
}

.ul-padding{
    padding: 2%;
}

/* Header start  */

header{height:400px;
    background-image: url(laptop-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
header #main-container{
   float: right;
   margin-top: 80px;
   margin-right: 120px;

}
#main-container h1{
    color: var(--black);
    padding-bottom: 16px;
}
#main-container p{font-size: 15px;
    color: #818181;
    padding-bottom: 15px;
}
#main-container button{font-size: 12px;
    padding: 14px 23px;
    background-color: var(--skyblue);
    border: none;
    color: #ffffff;
    border-radius: 2px;
}

.sidebar{
    padding: 7%;
}


/* About us */
main{
     margin-top:80px;
     margin-bottom:80px;
}
main #aboutus{
    width: 70%;
    margin: auto;
    text-align: center;
}

main h2{padding-bottom: 12px;
        color: var(--brown);

}
main p{
    color: var(--brown);
}
/* ABOUT US END */

/* Proffesional skills start  */
#pskills .ui{
    width:400px;
    height: 4px;
    background-color: rgb(163, 157, 157);
    border-radius: 20px;

}
#pskills .ux{background-color:#39b4af;
    width: 65%; 
    height: 4px;
}
#pskills .u1{
    width:400px;
    height: 4px;
    background-color: rgb(163, 157, 157);
    border-radius: 20px;

}
#pskills .u2{background-color:#39b4af;
    width: 75%; 
    height: 4px;
}

#pskills .u3{
    width:400px;
    height: 4px;
    background-color: rgb(163, 157, 157);
    border-radius: 20px;

}
#pskills .u4{background-color:#39b4af;
    width: 80%; 
    height: 4px;
}
#pskills h2{
    padding-bottom: 12px;
}

#progress-bar{
    padding-bottom: 20px;
}

/* project management */
#project-management{display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    place-items: center;background-color: var(--skyblue);

}
#project-management img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
   
}

#first,#second,#third,#fourth{
    display: flex;
}

#sidebar{font-size: 15px;
    margin-right: 25px;
    color: white;
}
#sidebar h5{
 margin-top: 8px;
}


/* our work Process  */

#work-pro{
    margin-top: 40px;
    margin-bottom: 40px;
}
#work-process{
        width: 50%;
        margin: auto;
        text-align: center;
}
#work-process h2{
    padding-bottom: 12px;
}
#work-process p{
    font-size: 15px;
}
#cat-img img{
    background-color: red;
}


/* All skills */
#all-skills{display: flex;
    flex-wrap:wrap-reverse;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;

}
#all-skills img{height: 45px;
    padding-bottom: 15px;

} 


#all-skills h6{
    padding-bottom: 10px;
}
#all-skills p{font-size: 18PX;
    margin-bottom: 60px;
    margin-right: 15px;
}


/* Need a project */

#need-project{
    text-align: center;
    margin-bottom: 30px;
}
#contact-form{
    height: 300px ;
    width: 50%;
    margin: auto;
    outline: none;
    box-shadow: 2px 2px 4px 4px  rgb(214, 205, 205);
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: rgb(62, 68, 68);
}
form input[type=text]{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 350px;
    border-radius: 5px;
    border:none;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 5px;
}
form input[type=email]{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
}
form input[type=number]{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
}
form textarea{padding-bottom: 70px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 360px;  
    border-radius: 5px;
    border: none;  
}
form button{font-size: 15px;
    padding: 10px 18px;
    margin-top: 10px;
    margin-left: 220px;
    background-color: var(--skyblue);
    border: none;
    color: #ffffff;
    border-radius: 2px;
    
}
form button:hover{
    cursor: pointer;
}


    












/* Navbar start  */

#navbar{
    display: flex;
    justify-content:space-between;
}
#navbar img{
    height: 40px;
    width: 40px;
}
#navbar ul li{
    display: inline-block;
    padding:5px;

}
#navbar ul li a{color: var(--brown);
    text-decoration: none;   
}
/* Navbar End  */


















/* footer start */
#foot-container{overflow: auto;
                height:200px;
                background-color: #141414;
                color: #bcbcbc;
}
#foot-container h3{color: #ffffff;
                   padding-bottom: 18px;

}
#para{ font-size: 15px;
       
       
}
#para-below{
    padding-top: 10px;
    font-size: 15px
}
#foot33{width: 33.33%;
        margin-top: 30px;
        float: left;
        
}

.third-content{overflow: auto;

}

#foot-container .minifoot33{
                            width: 33.33%;
                            float: left;

}
.minifoot33 ul li{list-style: none;
    padding-bottom: 3px;
    font-size: 15px;

}

/* footer end */




/* Responsiveness */
@media only screen and {max-width: ; 

}
